# ========================
# General
# ========================
node_modules/
.env
.env.local
*.log
.DS_Store
Thumbs.db

# ========================
# Python / Backend
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# ========================
# ML Models (IMPORTANT)
# ========================
*.h5
*.pt
*.pkl

# ========================
# Build folders
# ========================
dist/
build/

# ========================
# VS Code
# ========================
.vscode/

# ========================
# OS files
# ========================
.DS_Store